---
import Card from './components/Card.tsx';
import BaseLayout from "./layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Use React components directly in Astro!</h1>
  <Card />
</BaseLayout>

</html>